<h1>PonyOffers#index</h1>
<p>Find me in app/views/pony_offers/index.html.erb</p>


<h3> Number of Offers: <%= @ponyoffer.count %> </h3>

<% @ponyoffer.each do |offer| %>

<p> Poney offer: <%= offer.id %> </p>

<% end %>
