<h1>PonyOffers#index</h1>
<p>Find me in app/views/pony_offers/index.html.erb</p>



<% @pony_offers.each do |offer| %>

<p> Pony offer: <%= offer.id %> <%=link_to 'show', pony_pony_offer_path(offer.pony, offer)%> </p>

<% end %>
